<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Cost</th>
    </tr>
    <div th:each="animal : ${animalsList}">
        <tr>
            <td><a th:text="${animal.getName()}">text</a></td>
            <td><a th:text="${animal.getCost()}">text</a></td>
        </tr>
    </div>
</table>
<a href="/new">Create</a>
<a href="/dell">Delete</a>
</body>
</html>